#cus {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #cus td, #cus th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #cus tr:nth-child(even){background-color: #f2f2f2;}
  
  #cus tr:hover {background-color: #ddd;}
  
  #cus th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
#serealia_olahan{
    font-size: 23pt;
    font : bold;

}
.sidebar{
  position: absolute;
  right: 15px;
  background-color: aqua;
  /* height: 100%; */
  width: 18%;
  top: 180px;
}